<h1>Welcome to Neos store</h1>
<hr>

<% if @products.any? %>
  <% @products.each do |product| %>
    <h3><%= product.title %></h3>
    <p><%= number_to_currency product.price, :unit => "£" %></p>
  <% end %>
<% else %>
  <h3>No products yet</h3>
<% end %>
